.container {
    padding: 1rem;
    background: #f4f6f9;
}

.instructions {
    border: 1px solid #d3d3d3;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

.approver-details {
    border: 1px solid #d3d3d3;
    padding: 1rem;
    border-radius: .25rem;
    margin-top: 1rem;
    background: white;
}

.design-left{
    padding-left: 1rem;
}

.design-right{
    padding-right: 1rem;
}