.dummy{
	color : black;
}
.button-div-width {
    width: 14.5rem;
}
.addrow-input{
    float: left; 
    width:27%;
}
.backgroundcolor {
  --sds-c-icon-color-background: var(--lwc-brandAccessible, rgb(1, 118, 211));
}
.slds-scrollable_y{
	height:20rem;
}