.icon-success-wrapper lightning-icon {
    --sds-c-icon-color-foreground-default: green;
}

.design-top{
    margin-top: -1rem;
}

.design-top-padding{
    padding-top:0.5rem;
}

.design-box{
    border: 2px solid #d8dde6; 
    border-radius: 0.25rem;
}

.design-right{
    padding-right:0.5rem;
}